*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



body{

    width: 100%;
    height: 100vh;
    background-color:#F0F2F5;
   
}

main{

    padding-top:5vh;
    padding:30px;
}

form{

    background-color:#FFFFFF;
    width:100%;
    padding:15px;
    max-width:400px;
    border-radius:5px;
    box-shadow:0.5px 0.5px 4px 1px #00000028;
}


.texotopo{

    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
    font-family:sans-serif;
    font-size:calc(60% + 1vmin);
    
}

.card{

    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}

img{

    width:100%;
    max-width:230px;
}


.cardinput>input{

    width:100%;
    padding:15px;
    outline:none;
    border-radius:5px;
    border:solid 0.9px rgba(0, 0, 0, 0.116);
   

}


.but>button{

    background-color:#166FE5;
    width:100%;
    padding:12px;
    border-radius:5px;
    border:none;
    
}


.but>button>h1{

    font-family:sans-serif;
    font-size:calc(60% + 1.5vmin);
    color: #ffffff;
}

.cardinputcolum{

    display:flex;
    flex-direction:column;
    gap:10px;

}


.cardesqueceu>a{

    display:flex;
    justify-content:center;
    margin-top:15px;
    margin-bottom:15px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:calc(60% + 0.5vmin);
    color:#1877F2;

}

.ou{

    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
}

.ou>hr{

  width:45%;
  
    
}



.butultimo>button{

    background-color:#3bda1c;
    width:100%;
    max-width:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding:14px;
    border-radius:5px;
    margin-top:20px;
}

.ou>p{

    font-size:calc(60% + 0.5vmin);
    font-family:sans-serif;
    color: #00000072;
}

.butultimo>button:hover{

    background-color:#36A420;
}

.butultimo>button>h1{

    font-family:sans-serif;
    font-size:calc(60% + 1vmin);
    color:#FFFFFF;
}
